PIT_STOP_DURATION=5
MAX_SPEED=3                    
PITLANE_LIMITER=1              
TIME_PENALTY=-1.0
SPEEDING_PENALTY=-3.0         
CRASH_PENALTY=-100.0               
TIRE_WEAR_TARMAC=0.01         
LAP_REWARD=100.0              
TRACK_LIMIT_PENALTY=-5.0      
DRIVING_BACKWARD_PENALTY=-10.0
DRIVING_CORRECT_WAY_REWARD=0.5