PIT_STOP_DURATION=5
PIT_STOP_DURATION=5
MAX_SPEED=3
PITLANE_LIMITER=1
OBSERVATION_LOOKAHEAD=6
PIT_LATERAL_THRESHOLD=1
TIME_PENALTY=-1.0
SPEEDING_PENALTY=-3.0         
CRASH_PENALTY=-10000.0               
TIRE_WEAR_TARMAC=0.002         
TIRE_HEALTH_WORN_THRESHOLD=0.5
TIRE_HEALTH_CRITICAL_THRESHOLD=0.2
LAP_REWARD=100.0              
TRACK_LIMIT_PENALTY=-5.0      
DRIVING_BACKWARD_PENALTY=-1000.0
DRIVING_CORRECT_WAY_REWARD=0.8
ALPHA=0.1
GAMMA=0.99
EPSILON=1.0
MIN_EPSILON=0.01
EPSILON_DECAY_RATE=0.999
TRAINING_LOG_INTERVAL=1000
TRAINING_EPISODES=15000